body {
    color: #43454b;
    font-family: "Source Sans Pro","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    line-height: 1.618;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}

header {
    display: flex; /* Add flex display */
    justify-content: center;
    align-items: center; /* Vertically align items */
}

.nav {
    color: black;
    font-family: Arial, sans-serif;
    display: flex; /* Add flex display */
    justify-content: center;
    align-items: center; /* Vertically align items */
}

.logo-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-title {
    margin-left: 10px;
    font-family: 'Pattaya',sans-serif;
    text-decoration: none !important;
    padding-right: 10px;
    width: fit-content;
    cursor:pointer;
    opacity: 1;
}

.logo-title:hover {
    opacity: 0.75;
    transition: ease-in opacity;
}

.logo-title-description {
    font-size: .575em;
    margin-left: 10px;
    text-decoration: none !important;
    padding-left: 15%;
    width: fit-content;
    pointer-events: none;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Add flex display */
    align-items: center;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 20px; /* Rounded border radius */
    transition: background-size 0.3s;
}

.nav ul li a:hover {
    background-color: #4bc25b;
    background-size: 50% 50%;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media screen and (min-width:320px)  {  }

/* smartphones, Android phones, landscape iPhone */
@media screen and (min-width:480px)  {
    .logo img {
        height: auto;
        max-width: 58px;
        max-height: none;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media screen and (min-width:600px)  {  }

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:801px)  {  }

/* big landscape tablets, laptops, and desktops */
@media screen and (min-width:1025px) {  }

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
    .logo img {
        height: auto;
        max-width: 58px;
        max-height: none;
    }
}