
# Plugin [sh_wp_version_hider] whitelist START
SetEnvIf Request_URI "/plugins/sh_wp_version_hider.php$" d9a726e6080480da3347b7ec40738d38
SetEnvIf Request_URI "/plugins/sh_wp_version_hider/(.*).php$" d9a726e6080480da3347b7ec40738d38
# Plugin [sh_wp_version_hider] whitelist END
# Theme [twentytwentythree] whitelist START
SetEnvIf Request_URI "/themes/twentytwentythree/(.*).php$" d9a726e6080480da3347b7ec40738d38
# Theme [twentytwentythree] whitelist END


###########################################################################

<FilesMatch "\.(php)$">
Order Deny,Allow
Allow from env=d9a726e6080480da3347b7ec40738d38
Deny from all
</FilesMatch>


###########################################################################

