.zoohotel-contacts-page .header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.zoohotel-contacts-page button{
  background: #fb921f !important;
  color: white;

}

div.zoohotel-contacts-page .content-wrap{
  background-color: rgba(251, 247, 242, .98);
}
