.zoohotel-contacts-page .header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.zoohotel-contacts-page button {
  background: #fb921f !important;
  color: white;

}

.contact-info{
  background-color: #fb921f;
}
.contact-icon{
  color: #fb921f;
}
div.zoohotel-contacts-page .content-wrap {
  background-color: rgba(251, 247, 242, .98);
}

@media screen and (max-width: 768px) {
  /* ... */
  .zoohotel-contacts-page .header-image {
    width: 50%;
  }
  .zoohotel-contacts-page .form-group{
    width: 100%;
  }
  .zoohotel-contacts-page .contact-us-header{
    font-size: 2.3rem;
  }

}

@media screen and (max-width: 992px) {
  /* ... */
  .zoohotel-contacts-page .header-image {
    width: 50%;
  }
  .zoohotel-contacts-page .form-group{
    width: 100%;
  }
  .zoohotel-contacts-page .contact-us-header{
    font-size: 2.3rem;
  }
  .contact-info{
    max-width: 500px;
  }
}

@media screen and (max-width: 1200) {
  /* ... */
  .zoohotel-contacts-page .header-image {
    width: 50%;
  }
}

.contact-us-header{
  font-family: 'Amatic SC';
  font-size: 35px;
  font-weight: bolder;
  color: #fb921f !important;

}