div.zoohotel-faq-page .content-wrap {
  background-color: rgba(251, 247, 242, .98);
}

@media screen and (max-width: 768px) {
  .zoohotel-faq-page .faq-header{
    font-size: 3rem;
  }
  .zoohotel-faq-page .question-header{
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 992px) {
  .zoohotel-faq-page .faq-header{
    font-size: 3rem;
  }
  .zoohotel-faq-page .question-header{
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1200) {
  /* ... */
}
.question-header{
  font-family: 'Amatic SC';
  font-size: 35px;
  font-weight: bolder;
  color: #fb921f !important;
}
.faq-header{
  font-family: 'Amatic SC';
  font-size: 45px;
  color: #fb921f !important;
}
.faq-wrapper{
  margin-left: 30px;
}