header {
  box-shadow: 0 1px 2px rgba(0,0,0,0.19), 0 -1px 6px rgba(0,0,0,0.23);
}

.navbar {
  background-color: #94e69f;
}

.navbar-nav {
  align-items: center;
}

.navbar-brand .zoo-hotel-logo-container img {
  width: 3em;
/*  padding: 15px;*/
  top:0;
  left: 0;
}

.logo-title {
  font-family: 'pattaya';
}

.nav-item {
  --c:linear-gradient(#4dc45c 0 0); /* update the color here */

  float: left;
  padding: 12px;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */

  padding-bottom: .15em;
  background: var(--c), var(--c);
  background-size: .3em .1em;
  background-position:50% 100%;
  background-repeat: no-repeat;
  transition: .3s linear, background-size .3s .2s linear;
}

.nav-item:hover {
  background-size: 40% .1em;
  background-position: 10% 100%, 90% 100%;
}

.active.nav-item {
  background-size: 40% .1em;
  background-position: 10% 100%, 90% 100%;
}

.nav-link {
  font-family: "Poppins", sans-serif;
}