.nav-item a {
  display: block;
  padding: 10px 20px;
  color: #404040;
  border-radius: 20px; /* Rounded border radius */
  transition: background-size 0.3s;
}

.nav-item a:hover {
  background-color: #4bc25b;
  background-size: 50% 50%;
}