header {
  box-shadow: 0 1px 2px rgba(0,0,0,0.19), 0 -1px 6px rgba(0,0,0,0.23);
}

.navbar {
  background-color: #94e69f;
}

.navbar-nav {
  align-items: center;
}

.navbar-brand .zoo-hotel-logo-container img {
  width: 5em;
/*  padding: 15px;*/
  top:0;
  left: 0;
}

.navbar-brand .zoo-hotel-label-container span {
  font-family: 'Amatic SC', sans-serif;
  font-weight: bolder;
  font-size: 2.2rem;
  color: #ff7709 !important;
  letter-spacing: 2px;
}

.logo-title {
  font-family: 'pattaya';
}

.nav-item {
  --c:linear-gradient(#ff7709 0 0); /* update the color here */


  float: left;
  padding: 12px;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */

  padding-bottom: .15em;
  background: var(--c), var(--c);
  background-size: .3em .1em;
  background-position:50% 100%;
  background-repeat: no-repeat;
  transition: .3s linear, background-size .3s .2s linear;
}

.nav-item:hover {
  background-size: 40% .1em;
  background-position: 10% 100%, 90% 100%;
  color: #ff7709 !important;
}

.active.nav-item {
  background-size: 40% .1em;
  background-position: 10% 100%, 90% 100%;
  font-size: 2rem;
}

.nav-link {
  font-family: "Poppins", sans-serif;
}

.navbar-toggler-icon {
  width: 3em !important;
  height: 3em !important;
}

@media screen and (min-width: 993px) {
  .navbar-nav {
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 993px) {
  .navbar-brand .zoo-hotel-label-container span {
    font-size: 1.2rem;
  }

  .navbar-brand .zoo-hotel-logo-container img {
    width: 3em;
  }

  .navbar-toggler-icon {
    width: 2em !important;
    height: 2em !important;
  }
}