.modal-prev-page-btn,
.zoo-hotel-pricing-page #submit-btn {
    display: none;
    background-color: #fb921f;
}

.modal-next-page-btn,
.modal-prev-page-btn {
    min-width: 150px;
}

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.zoo-hotel-pricing-page .content-wrap .card-body,
.zoo-hotel-pricing-page .content-wrap .card {
    background-color:rgba(251, 247, 242) ;
    transition: box-shadow 0.3s ease-in-out;
}

.zoo-hotel-pricing-page .content-wrap .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoo-hotel-pricing-page .content-wrap .card-body .list-group li,
.header-text {
    background-color:rgba(251, 247, 242, 0.95) ;
}

.modal-wrapper {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black */
    display: none;
}

#booking-handler-form fieldset {
    z-index: 1;
    background-color: rgba(251, 247, 242);
    border: 0 none;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    z-index: 1;
    /*stacking fieldsets above each other*/
    position: relative;
    min-height: 50vh;
}

/*Hide all except first fieldset*/
#booking-handler-form fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#booking-handler-form input, #booking-handler-form textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#booking-handler-form input:focus, #booking-handler-form textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #fb921f;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#booking-handler-form .action-button{
    width: 100px;
    background: #fb921f;
    font-weight: bold;
    color: white;
    border: 0 none;
    /* border-radius: 25px; */
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#close-btn{
    background: #fb921f;
    font-weight: bold;
    color: white;
    border: 0 none;
    /* border-radius: 25px; */
    cursor: pointer;
}

#booking-handler-form .action-button:hover, #booking-handler-form .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #fb921f;
}

#booking-handler-form .action-button-previous {
    width: 100px;
    background: #8fc295a2;
    font-weight: bold;
    color: white;
    border: 0 none;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#booking-handler-form .action-button-previous:hover, #booking-handler-form .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

.close-modal {
    font-size: 35px;
    color: #fb921f;
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    padding: 10px;
}

.start:hover {
    opacity: .75;
    cursor: pointer;
}

.end:hover {
    opacity: .75;
    cursor: pointer;
}


.close-modal ion-icon:hover {
    cursor: pointer;
    color: black;
}

.close-modal ion-icon .icon-inner:hover {
    color: black;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.5em;
}

#progressbar li:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: counter(step);
    counter-increment: step;
    width: 35px;
    height: 35px;
    line-height: 26px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0px auto 18px auto;
    font-size:1em;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 16px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #fb921f;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #fb921f;
    border: 0 none;
    /* border-radius: 25px; */
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

#reservation-summary {
    background-origin: padding-box;
    border: #2C3E50;
}

div.zoohotel-faq-page .content-wrap {
    background-color: rgba(251, 247, 242, .98);
  }
  
  @media screen and (max-width: 768px) {
    .question-header{
        font-size: 2.3rem !important;
      }
  }
  
  @media screen and (max-width: 992px) {
    .question-header{
        font-size: 2.3rem !important;
      }
  }
  
  @media screen and (max-width: 1200) {
    /* ... */
  }
  .question-header{
    font-family: 'Amatic SC';
    font-size: 35px;
    font-weight: bolder;
    color: #fb921f !important;
  }
  .faq-header{
    font-family: 'Amatic SC';
    font-size: 45px;
    color: #fb921f !important;
  }
  .faq-wrapper{
    margin-left: 30px;
  }